<section class="body">
    <div class="timer">
        <h4> Count down timer </h4>
        <span id="minutes">0{{minutesToDday}} </span>Min
        <span id="seconds">{{secondsToDday}} </span>S
    </div>
    <div>
        <button id="btn1" (click)="startTimer()">Start</button>
        <button id="btn2" (click)="pauseTimer()" *ngIf="!isPaused && remainingTime > 0">Pause</button>
        <button id="btn2" (click)="resumeTimer()" *ngIf="isPaused && remainingTime > 0">Resume</button>
        <button id="btn3"  (click)="resetTimer()">Reset</button>
    </div>
</section>